<div id="japanese-outer">
  <%= image_tag "japanese2.png", alt: '' %>
</div>

<div id="main-outer">
  <div class="mobile">
    <a href="/commercials">
      <%= image_tag "commercials_link_mobile.png", alt: '', class: "home", style: "margin-bottom: 40px; width: 160px;" %>
    </a>
    <br>
    <a href="/underwear">
      <%= image_tag "underwear_link_mobile.png", alt: '', class: "home", style: "width: 140px;" %>
    </a>
  </div>
  <div class="desktop">
    <div id="main-left">
      <div id="commercials-link" onclick="location.href='/commercials';">
        <div class="dumb-background-image"></div>
      </div>
    </div>
    <div id="main-right">
      <div id="underwear-link" onclick="location.href='/underwear';">
        <div class="dumb-background-image"></div>
      </div>
    </div>
  </div>
</div>

<a href="mailto:harold.einstein@mac.com">
  <div id="contact">
    <%= image_tag "contact_off.jpg", alt: '', class: "telephone" %>
    <%= image_tag "harold_email.png", class: "email-address" %>
  </div>
</a>

<div id="loading-outer">
  <div id="loading-inner">
    <div id="loading-bar">
    </div>
  </div>
</div>
