<% content_for :title do %>
  HAROLD EINSTEIN - COMMERCIALS
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :projects %>
<% end %>

<div id="main-container">
  <% unless @vid.present? %>
    <div class="mobile commercials">
      <% commercials.each do |c| %>
        <h3 class="project small">
          <a data-vimeoid="<%= c.vimeo_id %>" data-id="<%= c.id %>" href="?vid=<%= c.id %>">
            <%= c.title %>
          </a>
        </h3>
      <% end %>
    </div>
  <% end %>

  <div class="commercials-container <%= "show" if @vid.present? %>">
    <% unless params[:vid].present? %>
      <div id="videos-list">
        <% commercials.each do |c| %>
          <h3 class="project large">
            <a data-vimeoid="<%= c.vimeo_id %>" data-id="<%= c.id %>" href="#">
              <%= c.title %>
            </a>
          </h3>
        <% end %>
      </div>
    <% end %>

    <div id="videos-container" class="<%= "show" if params[:vid].present? %>">
      <div id="video-player">
        <% if params[:vid] %>
          <iframe id="vimeo-player" src="//player.vimeo.com/video/<%= @vid.vimeo_id %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <% end %>
      </div>
    </div>
  </div>

  <a class="back-inner" href="/">
    <div style="cursor:pointer;">
    </div>
  </a>

<div id="loading-outer">
  <div id="loading-inner">
    <div id="loading-bar">
    </div>
  </div>
</div>

</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag :project %>
<% end %>
