<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="The collected works of Director Harold Einstein">
  <meta name="keywords" content="Harold Einstein, Howard Einstein, Director Harold Einstein, Crest commercials, FedEx commercials, Little Caesars Commercials, Kayak Commercials, Axe Commercials, Johnnie Walker Commercials, Boston Bruins Commercials, Gushers Commercials, Target Commercials, Mike's Hard Lemonade commercials, Luvs commercials, Award-winning commercials, Famous commercials">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="x6BwNCLtAeGBzu3MD-56i2HSVeV39qkI-zGUPwKOtCQ" />

  <title>
    <% if content_for?(:title) %>
      <%= yield :title %>
    <% else %>
      HAROLD EINSTEIN
    <% end %>
  </title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5252500-4']);
    _gaq.push(['_setDomainName', 'haroldeinstein.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>
  <div class="hidden-images">
    <%= image_tag "contact_off.jpg", alt: '' %>
    <%= image_tag "contact_on.jpg", alt: '' %>
    <%= image_tag "commercials_b_on.png", alt: '' %>
    <%= image_tag "commercials_b_off.png", alt: '' %>
    <%= image_tag "underwear_b_on.png", alt: '' %>
    <%= image_tag "underwear_b_off.png", alt: '' %>
    <%= image_tag "japanese.jpg", alt: '' %>
    <%= image_tag "back_off.jpg", alt: '' %>
    <%= image_tag "back_on.jpg", alt: '' %>
  </div>

  <div id="meta_black">
    The collected works of Director Harold Einstein.
  </div>

  <%= yield %>

  <%= yield :javascripts %>
</body>
</html>
